<div class="container">
  <div class="divider"></div>
  <div class="section">
    <h5 class="center-align">Search our Database, Get Real Numbers</h5>
    <div class="row">
      <div class="col s12 m12">
        <div class="card-panel teal">
        <span class="white-text">How it works:<br> Select a year, institution, program and ethnicity below.<br>
        This returns to you the overall number of graduates for your chosen ethnicity and program.
        The overall number of graduates for your chosen program.
        A comparison of graduates for your chosen ethnicity against all graduates of the program.
        A comparison of graduates for your chosen ethnicity and program against all graduates of your chosen ethnicity for the whole institution.
        </span>
      </div>
    </div>
  </div>
  </div>
  <div class="form">
  <%= form_tag :results, method: :get do%>
      <%= select_tag 'year', options_from_collection_for_select(years, :date_year, :date_year, include_blank: true), class:"browser-default"%>
      <%= select_tag 'program', options_from_collection_for_select(programs, :cip2, :name, include_blank: true), class:"browser-default"%>
      <%= select_tag 'college', options_from_collection_for_select(institutions,:name, :name, include_blank: true), class:"browser-default"%>
      <%= select_tag 'ethnicity', options_from_collection_for_select(ethnicities,:ethnicity, :ethnicity, include_blank: true), class:"browser-default"%>
      <%= submit_tag "Get Results"%>
    <% end %>
  </div>
</div>
