<div class="container">
  <div class="divider"></div>
  <div class="section">
    <h5 class="center-align">Search our Database, Get Real Numbers</h5>
    <p>We know how important and difficult choosing the right school for you can be. 
    That's why we've decided to provide you with real data from across from all Colorado Higher Education Institutions,
    that gives you that final push into deciding on your school.</p>
    <p>How it works:<br> Select a value for each of the fields below, Year, Insitution, Program and Ethnicity. 
    You receive the number of graduates for that field per your query. 
    The overall number of graduates for your choosen program.
    A run of your ethnicity field and program against the program.
    A run of your ethnicity field and program against the whole instiution for your choosen ethnicity. </p>
  </div>
  <div class="form">
  <%= form_tag :results, method: :get do%>
      <%= select_tag 'year', options_from_collection_for_select(@years, :date_year, :date_year, include_blank: true), class:"browser-default"%>      
      <%= select_tag 'program', options_from_collection_for_select(@programs, :cip2, :name, include_blank: true), class:"browser-default"%>
      <%= select_tag 'college', options_from_collection_for_select(@institutions,:name, :name, include_blank: true), class:"browser-default"%>
      <%= select_tag 'ethnicity', options_from_collection_for_select(@ethnicities,:ethnicity, :ethnicity, include_blank: true), class:"browser-default"%>
      <%= submit_tag "Get Results"%>
    <% end %>
  </div>
</div>
