<br>
<br>
<div class = "container results-header">
  <h5 id="results-college"><%=school.college%></h5>
</div>

<div class = "container"> 
  <div class="row">
      <div class="col s12 m12">
          <div class="card blue-grey lighten-1" id="results">
            <div class="card-content">
              <span class="card-title results-program"><%=program.name%></span>
                <div class = "results-year-ethnicity">
                    <div id ="results-year-tag">GRADUATION YEAR:<span id='results-year'> <%=school.year%></span></div>
                    <div id ="results-ethnicity-tag">ETHNICITY:<span id="results-ethnicity"> <%=school.ethnicity%></span></div>
                </div><br>
                    <div id = "results-holder">Total program graduates: <span id="program-grads"><%=program_graduates%></span></div>
                    <div id = "results-holder">Total <%=school.ethnicity%> graduates: <span id="ethnicity-grads"><%=selected_graduates%></span></div>
                    <div id = "results-holder">Overall representation of <%=school.ethnicity%> graduates from the program:<span id="percentage-one"> <%=program_total%></span></div>
                    <div id = "results-holder">Overall graduates of <%=school.ethnicity%>'s at this Institution whom graduated from this program:<span id="percentage-two"> <%= institution_total %></span></div>
            </div>
            <div class="card-action search-again">
              <a href="/search">Search Again</a>
              <a href="" id="save-search">Save Search</a>
            </div>
        </div>
      </div>

      <div class="col s6 m6">
          <div class="card blue-grey lighten-1">
            <div class="card-content">
              <span class="card-title"></span>
              <div id="map"></div>
            </div>
          </div>
      </div>

      <div class="col s6 m6">
        <div class="card blue-grey lighten-1" id="results">
          <div class="card-content">
            <span class="card-title results">Quick Information</span>
            <%=@college.street%> <br>
            <%=@college.city%> <%=@college.state%> <%=@college.zip%><br>
            <%=@college.phone_number%><br>
            <%= link_to "#{@college.web}", "https://#{@college.web}"%>
          </div>
        </div>
      </div>
  </div>
</div>

<div class = "container results-header">
  <div class="row">
    <div class="col s12">
      <div class="card-panel">
        <span> Thank you for using our service, we hope that by providing you with up to date graduation data your search for a Colorado institution has been made easier.
        </span>
      </div>
    </div>
  </div>
</div>