<!DOCTYPE html>
<html>
  <head>
    <title>SchoolsInColorado</title>
    <meta name="975ed7b62f265b1d4ea272a7355fd87872a36493" content="d87caa1084f3b2f8d02f41b972bb86f587ffaa84">
    <%= include_gon %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV["GOOGLE_MAPS"]%>&callback=initMap" async defer></script>
    <link href="https://fonts.googleapis.com/css?family=Lato|Owald" rel="stylesheet">
  </head>

  <body>
    <% if current_user %>
      <%= render partial: "shared/user_nav"%>
    <% else %>
      <%=render partial: "shared/guest_nav"%>
    <% end %>

    <div style='text-align:center'>
      <% flash.each do |type, message| %>
        <%= content_tag :div, sanitize(message), class:"alert-#{type}" %>
      <% end %> 
    </div>
    <%= yield %>
  </body>
</html>
